$cell-padding: 10px;
$cell-padding-mobile: 5px;

.repos-list-row {
  display: flex;
  flex-direction: row;
  height: 70px;
  border-bottom: 1px solid #dedede;
  align-items: center;
  font-size: 16px;

  &__column {
    text-align: center;
    padding: $cell-padding;
  }

  &__column-description {
    text-align: left;
    flex-grow: 1;
    overflow: auto;
    max-height: calc(100% - 2 * #{$cell-padding});
  }

  &__column-name {
    min-width: 150px;
    max-width: 150px;
  }

  &__column-url {
    min-width: 200px;
    max-width: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .repos-list-row {
    height: 50px;
    font-size: 12px;

    &__column {
      padding: $cell-padding-mobile;
    }

    &__column-description {
      max-height: calc(100% - 2 * #{$cell-padding-mobile});
    }

    &__column-name {
      min-width: 50px;
      max-width: 80px;
    }

    &__column-url {
      min-width: 60px;
      max-width: 80px;
    }
  }
}
